[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
pydantic-settings = "*"
httpx = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
pytest-cov = "*"
pysonar = "*"
pytest-bdd = "*"

[requires]
python_version = "3.13"
